[run]
omit =
    # Omit the django apps file
    pyas2/apps.py

    # Omit the django forms and admin file
    pyas2/forms.py
    pyas2/admin.py

    # Omit the template tags
    pyas2/templatetags/pyas2.py

    # Omit tests
    pyas2/tests/*